<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add Album</title>
</head>
<body>
    <h1>Add Album</h1>
    <form action="/add" method="POST">
        <label for="artist">Artist:</label>
        <input type="text" id="artist" name="artist" required>
        <br><br>
        <label for="album">Album:</label>
        <input type="text" id="album" name="album" required>
        <br><br>
        <button type="submit">Add</button>
    </form>
    <br>
    <a href="/index.html">Back to Home</a>
</body>
</html>
